<div class="container">
    <header ui-view="settings.header">Header</header>
    <div class="content" role="main" ui-view="settings.content">
        <aside class="side-pane" ui-view="settings.aside"></aside>
    </div>
    <footer ui-view="settings.footer">Footer</footer>
</div>
